@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-beige-50 text-beige-900 antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-medium tracking-tight;
  }
}
